*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* <!------------------header nevbar---------------> */
.logo{
    width: 15%;
    text-align: center;
}
header{
    position: sticky;
    top: 0%;
    z-index: 10;
}
.navbar-brand{
    display: block;
    text-align: center;
}

.navbar-brand img{
    width: 120px;
}

.navbar-nav{
    width: 60%;
    justify-content: center;
}
/* .container-fluid{
     border-bottom: 1px solid #ebeaea;
    
} */
.navbar-expand-lg{
    width: 100%;
    margin-right: 50pxs;
    color: white;
    background-color: #0E0A31;
   
}
a.dropdown-item{
    font-size: 14px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
a#navbarDropdown {
    color: white;
    font-size: 14px;
    padding: 32px 20px;
    font-weight: bold;
}
.nav-item{
    position: relative;
}
.nav-item:after{
    content: "";
    width: 0;
    height: 3px;
    background-color: #43BAFF;
    transition: all 1s ease;
    position: absolute;
    left:0;
    bottom: 0;
}
.nav-item:hover::after{
    width: 100%;
}
ul.dropdown-menu.head-on{
    display: block;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.5s ease;
    visibility: hidden;
}
a.dropdown-item:hover{
   color : #43BAFF;
   background-color: none;
}
.nav-item.dropdown:hover .dropdown-menu.head-on{
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}
ul.dropdown-menu.head-tree{
    display: block;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.5s ease;
    visibility: hidden;
}

.nav-item.dropdown:hover .dropdown-menu.head-tree{
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.qus-call{
    display: flex;
    width: 40%;
    justify-content:flex-end;

}
.qus-call-icon{
    color: #43BAFF;
    display: block;
    margin-top: 12px;
    padding-right: 25px;
    font-size: 28px;
}
.qus-call-num h3{
color: #CCCCCC;
font-size: 14px;
line-height: 1.6em;
}

.qus-call-num{
color: #FFFFFF;
font-family: "Montserrat", Sans-serif;
font-size: 14px;
font-weight: 600!important;
}
.btn{
    border-radius: 0px!important;
}
.btn-outline-success{
    background-color: #43BAFF!important;
    min-width: auto;
    margin-left: 40px;
}
.btn-outline-success:hover{
    background-color: #7141b1!important;
    color: white;
}
.dropdown-item{
    font-weight: 800;
    font-size: 14px;
    line-height: 2;
}

/*----------------------- baner ----------------------*/
#baner{
    background-image:url("../assets/bg-banner-home5.png");    
    background-color: #0E0A31;
    overflow: hidden;
}
.baner-con{
    padding:80px 0px;
}

.col-7{
    padding:70px 0px;
}
 .baner-h2{
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.baner-h1{
    font-size: 65px;
    line-height: 70px;
    font-weight: bold;
    color: white;

}
.baner-p{
   color: #ffff;
    font-size: 17px;
    line-height: 30px;
}
.baner-col-2{
    display: flex;
    flex-wrap: wrap;
}
.baner-text p{
    font-size: 15px;
}
.btn_ripple i{
    color:#43baff;
    font-size:23px;
}
.btn_ripple:hover{
    background-color: #43baff;
    border: 2px solid #43baff;;
}
.btn_ripple:hover i{
    color: #ffff;
}
.btn_ripple {
    border: none;
    outline: none;
    width: 65px;
     height: 65px;
     border-radius: 50%;
     display: block;
     background-color: aliceblue;
     display: grid;
     place-items: center;
     cursor: pointer;
     border: 2px solid white;
     font-size: 20px;
     
     

     animation-name:ripple;
     animation-duration: 1.5s;
     animation-iteration-count:infinite;
}


@keyframes ripple{
    0%{
        box-shadow: 0 0 0 0 #fff4,0 0 0 0 #fff4;
    }
    80%{ 
        box-shadow: 0 0 0 20px #fff0,0 0 0 40px #fff0;
    }
    100%{
        box-shadow: 0 0 0 0px #fff0,0 0 0 0px #fff0;
    }
}
.baner-col-2{
    padding-top: 30px;
}

.baner-icon i:hover{
    background-color: #2e3192;
    color: white;
}
.baner-text p{
    padding-top: 12PX;
    color:white;
    font-weight: 800;
    padding-left: 30px;
}
/*----------------- software----------------- */

.software{
    margin-top:-50px;
}

.card{
    padding: 30px 100px 30px 20px;
    position: relative;
    border: none;
    box-shadow: 15px 15px 38px 0px rgba(0, 0, 0, 0.2);
    height: 100%;
    transition: all .8s ease;
    overflow: hidden;
}
.card:after{
    content: "";
    position: absolute;
    right: -85px;
    top: -90px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 185px;
    height: 185px;
    border-radius: 50%;
    z-index: 1;
}
.card:hover{
    transform: translateY(-30px);
}
.icon-main img{
    width: 40px;
}
.icon-main{
     position: absolute;
    top:20px;
    right: 20px;
    z-index: 2;
}
.card h3{
    color: #fff;
    font-weight: 700;
}
.col:nth-child(1) .card{
    background-image: linear-gradient(110deg, #2B236E 0%, #7141B1 100%);
}
.col:nth-child(2) .card{
    background-image: linear-gradient(110deg, #5F3A8F 0%, #00DEFF 100%);
}
.col:nth-child(3) .card{
    background-image: linear-gradient(110deg, #00DEFF 0%, #43BAFF 100%);
}
/* -----------our services--------------- */
.services{
    margin-top:100px;
    padding-bottom: 110px;
}
.services_title h4{
    color:#7141b1;;
}
.services_title{
    padding-bottom: 30px;
}
.service-card{
    border: 1px solid #ddd;
    padding: 40px 20px;
    text-align: center;
    position: relative;
    transition: all 0.5s ease;
    overflow: hidden;
    margin-bottom: 20px;
    color: #000;
    height: 50vh;
}
.services_title{
    text-align: center;
}
.service-card p{
    font-size: 16px;
 
}

.icon-box{
    position: relative;
    height: 80px; 
    width: 80px;
    display: inline-block;
}
.icon-box img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
}
.service-card .icon-image1{
    opacity: 1;
}
.service-card .icon-image2{
    opacity: 0;
}
.service-card:hover .icon-image2{
   opacity: 1;
}
.service-card:hover .icon-image1{
    opacity: 0;
 }
.overlay{
    background-color: #fff;
    position: absolute;
    width: 100%;
    right: 0;
    top:0;
    height: 100%;
    transition: all 0.5s ease;
    z-index: 1;
}

.service-card:hover .overlay{
    width: 0; 
}
.service-card h3{
    color: #000;
    transition: all 0.5s ease;
    
}
.service-card p{
    color: #000;
    transition: all 0.5s ease;
}
.service-card:hover h3{
    color: #fff;
}
.service-card:hover p{
    color: #fff;
}
.service-card:before{
    content: "";
    position: absolute;
    right: -15px;
    top: -15px;
    width: 0px;
    height: 0px;
    opacity: 0;
    background-color:#43baff;           
    transition: all 0.5s ease; 
    transform: rotate(45deg);
    z-index: 3;
   
}
.service-card-cont img{
    width: 50px;
    padding-bottom:30px;
   
}
.service-card-cont h3{
    padding-bottom: 8px;
}
.service-card:hover::before{
    width: 30px;
    height: 30px;
    opacity: 1;
    
   
}

.service-card:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    
  
}

.service-card.sr-card-1:after{
    background-image: url("../assets/bg-icon-box1.jpg");
 
    
}

.service-card.sr-card-2:after{
    background-image: url("../assets/bg-icon-box2.jpg");
 
}

.service-card.sr-card-3:after{
    background-image: url("../assets/bg-icon-box3.jpg");
 
}
.service-card.sr-card-4:after{
    background-image: url("../assets/bg-icon-box4.jpg");
 
}
.service-card.sr-card-5:after{
    background-image: url("../assets/bg-icon-box5.jpg");
 
}
.service-card.sr-card-6:after{
    background-image: url("../assets/bg-icon-box6.jpg");
 
}
.service-card.sr-card-7:after{
    background-image: url("../assets/bg-icon-box7.jpg");
 
}
.service-card.sr-card-8:after{
    background-image: url("../assets/bg-icon-box8.jpg");
 
}


.service-card-cont{
    position: relative;
    z-index: 3;
}
.service-card-cont:hover img{
    color: #00DEFF;

}


/* <!------------------Carousel Section-3  -------------------> */

#logo-slider-sec {
    background: #F8F8F8;
  
}

.logo-slider-con {
    width: 80%;
    margin: auto;
}

.owl-theme .owl-dots,
.owl-theme .owl-nav {
    display: none;
    width:70%;
}

.logo-slider-img {
    padding: 100px 0px;
}

.logo-slider-img img {
    filter: contrast(0%);
    opacity: 0.7;
    transition: all 0.6s linear;
}

.logo-slider-img4 {
    max-width: 55%;
    margin: auto;
}

.logo-slider-img img:hover {
    filter: contrast(100%);
    opacity: 1;
    cursor: pointer;
}



/* ----------------------------Actually -------------------------- */
.actually{
background-color: #201D3C;
  position: relative;
  padding:120px 0px ;
}
.acts{
    padding-top: 50px;
}
.card-content{
    position: relative;
    z-index: 3;
}

.actually_img{
       display: flex;
       
}
.actually_card img{
    width: 35px;
}
.actually_card{
    margin-right: 15px;
    text-align: center ;
    width: 60px;
    height: 60px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border:1px solid rgba(255, 255, 255, 0.3)
     
}
.actually_card:hover{
      background-color:#43baff;;
}
.actually_card img{
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.actually_card .icon-image1{
    opacity: 1;
}
.actually_card .icon-image2{
    opacity: 0;
}
.actually_card:hover .icon-image2{
   opacity: 1;
}
.actually_card:hover .icon-image1{
    opacity: 0;
 }



.actually-heading{
    color: #8E88B8;
    font-size: 13px;
    font-weight:bold;
  
}
.actually_text{
    color: #fff;
}
.actually-para_1{
     color: #fff;
     padding-top: 28px;
     font-weight:700;
}
.actually-para{
    color: #fff;
    font-size: 16px;
    padding-top: 10px;
 
}

.actually-a{
      padding-top: 40px;
      font-size: 15px;
      font-weight:800;
     
    
}
.actually-a a{
   color:#43baff;
}
.actually{
    z-index: 5;
    position: relative;
   
}
.actually{
    position: absolute; 
    top: 0%;
    left: 0px;
    z-index:-1;
  
}
 .actually{
     z-index: 5;
    position: relative;    
}

.actually-img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.actually-image{
    position: absolute; 
    right: 0px;
    bottom: 0%;
    z-index: -1;
}

/*------- our Leadership Team -----*/
.team{
    margin: 100px 0px;
}
.teamtitle{
    text-align: center;

}
.teamtitle h5{
    color: #7141b1;
}

.card-2-img{
    position: relative;
    overflow: hidden;
}

.card-2-img img{
         max-width: 100%;
          height: auto;
          display: block;
}
.card-link-icon{
    position: absolute;
    top:35%;
    width: 40px;
    right:-40px;
    background-color: #262051;
    transform: translateYx  (-50%);
   transition: all 0.3s ease;
    text-align: center;
}
.card-link-icon a{
    display: block;
    color: #d6d0d0;
    padding: 10px ;
}
.card-link-icon a:hover{
      color: #00DEFF;
}
.card-2:hover .card-link-icon{
    right: 0;
}
.carda{
    padding-top: 30px;
    text-align: center;
}
.carda h6{
    font-weight: 700;
    color: #797979;;
}

   /*--------------------Custmor Section-6 ------------------*/

.containers {
    width: 99%;
}

.bg-img1 {
    background: url('../assets/fun-fact1.jpg'), no-repeat;
    background-size: cover;
    background-position: center right;
}

.bg-img2 {
    background: url('../assets/fun-fact2.jpg'), no-repeat;
    background-size: cover;
    
}
.col-3{
    padding:110px 60px 120px;
}

.col-3 h2{
    font-family: "Montserrat",sans-serif;
    font-weight: 800;
    font-size: 48px;
    line-height: 1;
    color: #43baff;
    margin-bottom: 18px;
    }
    .col-3 h6{
        font-size: 24px;
        font-weight: 800;
        margin-bottom: 10px
    }
    .col-3 p{
        color: #6d6d6d;
        margin: 0px 0px 10px;
        font-size: 17px;
        line-height: 1.8;
        font-family: "Nunito Sans",sans-serif;
    }
.col-back {
    background: #f8f8f8;
}
.col-3 img {
    width: 100%;
}
.col-back a{
    line-height: 2;
    text-decoration: none;
    color: #43baff;
    font-weight: 700;
    font-size: 17px;
    font-family: Nunito Sans",sans-serif";
}
/*--------------- news------ */

.news-btn{
    padding:15px 20px;
    border: none;
    background-color: #43baff;  
    columns:end;
}
.news-btn:hover{
    background-color:#7141b1;
}
.news-btn a{
    text-decoration: none;
    color: #fff;
    font-weight: 800;
}
.news-text{
    color: #7141b1;
}

.news-link{
    padding-bottom: 30px;
    margin-top: -10px;
  
}
.news-span a{
     background-color:  #43baff;  
     padding: 10px 13px;
     font-size: 14px;
     text-decoration: none;
     color: #fff;
     font-weight: 700;
   
}
.news-span a:hover{
     background-color:#7141b1;
     transition: all 0.2s ease;
}
.news-nov{
    padding-bottom: 30px;
}
.news-nov a{
    text-decoration: none;
}
span{
    color:#7141b1;
    font-weight: 800;
}
span1{
    color:#7141b1;
    font-weight: 800;
    font-size: 13px;
}
span3{
    display: block;
    padding-top: 20px;
    font-size: 13px;
}
/* -----Footer section------- */
#footer{
    background-color: #201D3C;
}

.card-footer h4{
    color: #fff;
}
.footer-a ul li a{
    font-size:14px;
    text-decoration: none;
    color: #AEAACB;;
}
.footer-a{
    padding-top: 30px;
}
.footer-a ul li{
    list-style: none;
    
    line-height: 2;
}
.footer-para{
    color: #AEAACB;
    padding-top: 30px;
}
.footer-input{
    position: relative;
    
}

.email-box{
    width: 100%;
    padding: 10px 30px 10px 20px;
    height: 30px;
    border: none;
    background-color: #37325a;
    color: #fff;  
    height: 45px;
    outline: none;
}

.submit-btn{
    position: absolute;
    color: #fff;
    top: 0px;
    right: 0px;
    font-size: 30px;
    border: none;
    width: 45px;
    height: 45px;
    list-style: 45px;
    text-align: center;
    display: inline-block;
    background-color: #43baff;
    
}
.submit-btn:hover{
   color: #43baff;
    background-color: #fff;
}